{
  "presets": [
    "env",
    "flow",
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["relay", {"schema": "src/server/schema.graphql"}],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
