.PageWithMenu-root {
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.PageWithMenu-pageTitleAux {
  float: right;
}

.PageWithMenu-menu {
  position: fixed;
}

.PageWithMenu-width-wide .PageWithMenu-menu {
  width: 230px;
}

.PageWithMenu-width-wide .PageWithMenu-content {
  margin-left: 270px;
}

.PageWithMenu-width-normal .PageWithMenu-menu {
  width: 200px;
}

.PageWithMenu-width-normal .PageWithMenu-content {
  margin-left: 240px;
}
