.PageWithMenu-root {
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.PageWithMenu-menu {
  width: 230px;
  position: fixed;
}

.PageWithMenu-content {
  margin-left: 270px;
}
