.Button-root {
  display: inline-block;
  background: 0;
  border-radius: 4px;
  margin: 0;
  font-size: 14px;
  font-family: inherit;
  line-height: 29px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 1px;
  padding-bottom: 0;
}

.Button-root.Button-primary {
  border: 1px solid #CACACA;
  padding-left: 9px;
  padding-right: 9px;
}

.Button-root.Button-secondary {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.Button-root:hover {
  border-color: #B1B1B1;
  color: #333;
}

.Button-root.Button-primary:active {
  background: #F6F6F6;
}

.Button-root.Button-secondary:hover .Button-text {
  border-bottom: 1px solid #CCC;
}

.Button-root .Button-icon {
  margin-right: 8px;
  position: relative;
  top: 5px;
  line-height: 0;
}

.Button-root:hover .Button-icon > svg {
  fill: #696969;
}

.Button-root.Button-disabled,
.Button-root:hover.Button-disabled {
  cursor: not-allowed;
  border-color: #CACACA;
  color: #CACACA;
}
.Button-root.Button-disabled .Button-icon > svg,
.Button-root:hover.Button-disabled .Button-icon > svg {
  fill: #CACACA;
}
.Button-root:active.Button-disabled {
  background: 0;
}
