.Card-root {
  border: 1px solid #CACACA;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Card-section {
  flex-grow: 0;
}

.Card-section.Card-section-fillHeight {
  flex-grow: 1;
  overflow: hidden;
}

.Card-section-footer {
  padding-top: 15px;
  margin: 0 -15px -15px -15px;
  padding: 10px 15px;
  border-top: 1px solid #CACACA;
}
