.LinkCard-root:hover .LinkCard-card,
/* TODO shouldn't use other component's classnames without making it explicitly
 * usable somehow */
.LinkCard-root:hover .Card-section-footer {
  border-color: #B1B1B1;
}

.LinkCard-root:hover .LinkCard-linkText-darken {
  color: #333;
}

.LinkCard-root:hover .LinkCard-linkText-underline {
  border-bottom: 1px solid #CCC;
}
