.ModalDialog-container {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Override card border */
body .ModalDialog-dialog {
  border: 0;
  width: 500px;
  max-height: 90%;
  max-width: 90%;
  background: #FCFCFC;
}
