.Spacing-margin-bottom-4 {
  margin-bottom: 4px;
}

.Spacing-margin-bottom-8 {
  margin-bottom: 8px;
}

.Spacing-margin-bottom-12 {
  margin-bottom: 12px;
}

.Spacing-margin-bottom-16 {
  margin-bottom: 16px;
}

.Spacing-margin-bottom-20 {
  margin-bottom: 20px;
}

.Spacing-margin-bottom-24 {
  margin-bottom: 24px;
}

.Spacing-margin-bottom-28 {
  margin-bottom: 28px;
}

.Spacing-margin-top-4 {
  margin-top: 4px;
}

.Spacing-margin-top-8 {
  margin-top: 8px;
}

.Spacing-margin-top-12 {
  margin-top: 12px;
}

.Spacing-margin-top-16 {
  margin-top: 16px;
}

.Spacing-margin-top-20 {
  margin-top: 20px;
}

.Spacing-margin-top-24 {
  margin-top: 24px;
}

.Spacing-margin-top-28 {
  margin-top: 28px;
}
