body .Spacing-margin-bottom-4 {
  margin-bottom: 4px;
}

body .Spacing-margin-bottom-8 {
  margin-bottom: 8px;
}

body .Spacing-margin-bottom-12 {
  margin-bottom: 12px;
}

body .Spacing-margin-bottom-16 {
  margin-bottom: 16px;
}

body .Spacing-margin-bottom-20 {
  margin-bottom: 20px;
}

body .Spacing-margin-bottom-24 {
  margin-bottom: 24px;
}

body .Spacing-margin-bottom-28 {
  margin-bottom: 28px;
}

body .Spacing-margin-bottom-32 {
  margin-bottom: 32px;
}

body .Spacing-margin-bottom-36 {
  margin-bottom: 36px;
}

body .Spacing-margin-top-4 {
  margin-top: 4px;
}

body .Spacing-margin-top-8 {
  margin-top: 8px;
}

body .Spacing-margin-top-12 {
  margin-top: 12px;
}

body .Spacing-margin-top-16 {
  margin-top: 16px;
}

body .Spacing-margin-top-20 {
  margin-top: 20px;
}

body .Spacing-margin-top-24 {
  margin-top: 24px;
}

body .Spacing-margin-top-28 {
  margin-top: 28px;
}

body .Spacing-margin-top-32 {
  margin-top: 32px;
}

body .Spacing-margin-top-36 {
  margin-top: 36px;
}

body .Spacing-margin-left-4 {
  margin-left: 4px;
}

body .Spacing-margin-left-8 {
  margin-left: 8px;
}

body .Spacing-margin-left-12 {
  margin-left: 12px;
}

body .Spacing-margin-left-16 {
  margin-left: 16px;
}

body .Spacing-margin-left-20 {
  margin-left: 20px;
}

body .Spacing-margin-left-24 {
  margin-left: 24px;
}

body .Spacing-margin-left-28 {
  margin-left: 28px;
}

body .Spacing-margin-left-32 {
  margin-left: 32px;
}

body .Spacing-margin-left-36 {
  margin-left: 36px;
}

body .Spacing-margin-right-4 {
  margin-right: 4px;
}

body .Spacing-margin-right-8 {
  margin-right: 8px;
}

body .Spacing-margin-right-12 {
  margin-right: 12px;
}

body .Spacing-margin-right-16 {
  margin-right: 16px;
}

body .Spacing-margin-right-20 {
  margin-right: 20px;
}

body .Spacing-margin-right-24 {
  margin-right: 24px;
}

body .Spacing-margin-right-28 {
  margin-right: 28px;
}

body .Spacing-margin-right-32 {
  margin-right: 32px;
}

body .Spacing-margin-right-36 {
  margin-right: 36px;
}
