<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Styledash</title>
    {{#each stylesheets}}
      <link rel="stylesheet" href="{{url}}" type="text/css" />
    {{/each}}
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    {{#each scripts}}
      <script src="{{url}}"></script>
    {{/each}}
  </body>
</html>
