.ComponentPage-propTypes {
  max-height: 400px;
  overflow: auto;
  border: 1px solid #CCC;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
}

.ComponentPage-overrideReactDoc {
  height: 200px;
  border: 1px solid #CCC;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
}
