.NewRepositoryWizard-userInput {
  display: flex;
  justify-content: center;
}

.NewRepositoryWizard-repositorySelect {
  min-width: 200px;
  text-align: left;
}

.NewRepositoryWizard-textarea {
  width: 300px;
  height: 115px;
}
